<html>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>list</title>
  <body>

  	予約されてない記事<br>
    <form action="./confirm" method="get">
    {% for title, atomLink, link in nonReservedArticles %}
      <input type="radio" name="article" value="{{ atomLink }}">
      <a href="{{ link }}">{{ title }}</a><br>
    {% endfor %}
      <label>年月日：<input type="date" name="date" min="{{ YMD }}" value="{{ YMD }}"></label>
      <label>時刻：<input type="time" name="time" value="{{ HM }}" step={{ 600 }}></label>
      <br>
      <input type="submit">
    </form>

  	予約されている記事<br>
    {% for title, atomLink, link, date in reservedArticles %}
	  <form action="./delete" method="get">
      	<a href="{{ link }}">{{ title }}</a>{{ date }}
      	<input type="submit" name="article" value="この記事の予約を取り消す">
      	<input type="hidden" name="article" value="{{ atomLink }}">
      </form>
    {% endfor %}
    </form>

  </body>
</html>
